 .header {
     padding: 20px 0;
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     width: 100%;
     z-index: 9999;

     .navbar-toggler-icon {
         background-image: url(../../assets/img/icon/nav.svg) !important;
     }

     .navbar-toggler {
         background-color: $mainColor;
     }

     .navbar {
         position: relative;

         .navbar-collapse {
             @media (max-width:991px) {
                 background: linear-gradient(#031D2D, #2B266A);
                 padding: 15px 0;
             }
         }

         .navbar-brand {
             img {
                 max-width: 220px;

                 @media (max-width:992px) {
                     max-width: 140px;

                 }
             }
         }

         .navbar-nav {

             .nav-link {
                 color: $whitColor;
                 font-family: Georama;
                 font-size: 16px;
                 padding: 0 20px;
                 text-wrap: nowrap;

                 @media (max-width:992px) {
                     padding: 10px;
                 }
             }

             .dropdown {
                 position: unset;


                 .dropdown-menu {
                     padding: 40px 40px 20px 40px;
                     background: linear-gradient(#2B266A, #031D2D);
                     border-radius: 60px;
                     box-shadow: 0px 8px 16px #8438F126;
                     margin: auto;
                     position: absolute;
                     right: 0;
                     left: 0;
                     top: 100%;
                     @media (max-width:991px) {
                        position: relative; 
                     }
                     &::after {
                         content: "";
                         position: absolute;
                         left: 42%;
                         width: 0;
                         height: 0;
                         border-left: 20px solid transparent;
                         border-right: 20px solid transparent;
                         border-bottom: 20px solid #2B266A;
                         top: -18px;
                         @media (max-width:991px) {
                            display: none;
                         }
                     }

                     .dropdown-item-menu {
                         margin-bottom: 20px;

                         a {
                             display: flex;
                             align-items: center;
                             justify-content: center;
                             padding: 15px;
                             font-size: 16px;
                             font-weight: 500;
                             font-family: Georama;
                             box-shadow: 0px 8px 8px #031D2D80;
                             border-radius: 30px;
                             background-color: #31306b;
                             color: $whitColor;
                             transition: all .3s;

                             span {
                                 margin-inline-end: 10px;
                             }

                             &:hover {
                                 background-color: $mainColor;

                             }
                         }

                     }
                 }
             }
         }
     }
 }