 // colors
 $bg1:  #2B266A;
 $mainColor: #8438F1;  
 $mainColor-100: rgba(132, 56, 241, 0.15); 
 $mainColor-200:  rgba(132, 56, 241, 0.2); 

  $blackColor: #000;
  $blackColor-100: rgba(3, 29, 45, 1);
 $whitColor: #FFFFFF;
 $whitColor100: rgba(255, 255, 255, 1);
 $grayColor200: rgba(0, 0, 0, .2); 
 $grayColor300: rgba(0, 0, 0, 0.3); 
 //liner-background
 $liner-gradient-1:  rgba(255, 255, 255, 0.3);
 $liner-gradient-2:  rgba(132, 56, 241, 1);
 $rgb1: #363171 ;
 $rgb2: #403c79;
 $rgb3: #4b4780;
 $rgb4:  #555188;
 $rgb5: #605c8f ;